/* Custom Theme */

@import "./theme.scss";

.page {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: rgb(249, 249, 249);
}

.bg {
  &-light {
    background-color: #fff;
  }
}

.pad {
  padding: 24rpx;
}

.gap {
  &-top {
    margin-top: 24rpx;
  }
}

.text {
  &-center {
    text-align: center;
  }
  &-warning {
    color: $color-warning;
  }
}
.panel {
  margin: 24rpx;
  border-radius: 12rpx;
  margin-top: 0;
  background-color: #fff;
  overflow: hidden;
  .at-list {
    border-radius: 14rpx;
  }
}
