@import "../../theme.scss";

.goods {
  background-color: #fff;
  margin-bottom: 12rpx;
  display: flex;
  &-image {
    width: 320rpx;
    height: 320rpx;
  }
  &-info {
    flex: 1;
    padding: 24rpx;
  }
  &-buttons {
    padding-top: 12rpx;
  }
  &-price {
    padding-top: 24rpx;
    color: $color-warning;
    &-name {
      font-size: 24rpx;
    }
    &-number {
      padding-left: 12rpx;
      font-weight: 700;
      font-size: 56rpx;
    }
  }
}
