@import "../../theme.scss";

.goods {
  background-color: #fff;
  margin-bottom: 12rpx;
  display: flex;
  &-image {
    width: 320rpx;
    height: 320rpx;
  }
  &-info {
    flex: 1;
    padding: 24rpx;
  }
  &-buttons {
    padding-top: 12rpx;
  }
}
